<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodaj zegarek</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Dodaj zegarek</h1>
    <form action="/add_watch" method="post">
        <div>
            <label for="kod_produktu">Kod produktu:</label>
            <input type="text" id="kod_produktu" name="kod_produktu" required>
        </div>

        <!-- Pętla generująca pola wyboru dla atrybutów -->
        {% for attribute in attributes %}
            <div>
                <label for="{{ attribute.id }}">{{ attribute.name }}:</label>
                <input type="text" id="{{ attribute.id }}" name="{{ attribute.name }}" required>
            </div>
            <!-- Ukryte pole formularza do przekazywania wartości attribute_ids -->
            <input type="hidden" name="attribute_ids" value="{{ attribute.id }}">
        {% endfor %}

        <button type="submit">Dodaj zegarek</button>
    </form>
</body>
</html>
