<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Zarządzanie zegarkami</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Zarządzanie zegarkami</h1>
    <nav>
        <a href="/add_watch" class="button">Dodaj zegarek</a>
        <a href="/attributes" class="button">Atrybuty</a>
    </nav>
    <div class="watches-container">
    {% for watch in watches %}
        <div class="watch-card">
            <h2 class="watch-title">{{ watch.kod_produktu }}</h2>
            <div class="watch-details">
                <button class="toggle-attributes">Pokaż atrybuty</button>
                <div class="watch-attributes">
                    <div class="watch-attribute">
                        <span class="attribute-name">Próba:</span>
                        <span class="attribute-value">{{ watch.proba }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Grawer:</span>
                        <span class="attribute-value">{{ 'Tak' if watch.grawer else 'Nie' }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Dla kogo:</span>
                        <span class="attribute-value">{{ watch.dla_kogo }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Rodzaj:</span>
                        <span class="attribute-value">{{ watch.rodzaj }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Styl:</span>
                        <span class="attribute-value">{{ watch.styl }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Pochodzenie:</span>
                        <span class="attribute-value">{{ watch.pochodzenie }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Szkiełko:</span>
                        <span class="attribute-value">{{ watch.szkielko }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Rodzaj koperty:</span>
                        <span class="attribute-value">{{ watch.rodzaj_koperty }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Szerokość koperty:</span>
                        <span class="attribute-value">{{ watch.szerokosc_koperty }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Grubość koperty:</span>
                        <span class="attribute-value">{{ watch.grubosc_koperty }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Typ paska / bransolety:</span>
                        <span class="attribute-value">{{ watch.typ_paska_bransolety }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Kolor paska / bransolety:</span>
                        <span class="attribute-value">{{ watch.kolor_paska_bransolety }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Wodoszczelność:</span>
                        <span class="attribute-value">{{ watch.wodoszczelnosc }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Mechanizm:</span>
                        <span class="attribute-value">{{ watch.mechanizm }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Gwarancja:</span>
                        <span class="attribute-value">{{ watch.gwarancja }}</span>
                    </div>
                    <div class="watch-attribute">
                        <span class="attribute-name">Kolor tarczy:</span>
                        <span class="attribute-value">{{ watch.kolor_tarczy }}</span>
                    </div>
                </div>
            </div>
            <div class="watch-actions">
                <a href="/watch/{{ watch.kod_produktu }}" class="button">Szczegóły</a>
                <form action="/delete_watch/{{ watch.kod_produktu }}" method="post">
                    <button type="submit" class="button">Usuń</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>

    <script src="/static/script.js"></script>

</body>
</html>
